@import "tailwindcss"


:root {
  --primary: #4f46e5;
  --primary-hover: #4338ca;
  --error: #dc2626;
  --text-primary: #111827;
  --text-secondary: #4b5563;
  --border: #d1d5db;
  --background: #f3f4f6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

.button {
  @apply inline-block px-6 py-3 text-white font-semibold rounded-lg no-underline transition duration-300;
  background-color: #5750a1; 
}

.button:hover {
  background-color: #8985BD;
}

.button:focus {
  outline: none;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-gradient {
  background: linear-gradient(45deg, #4c6ef5, #6f42c1, #00bcd4); 
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}