:root {
  --background-dark: #000000;     
  --background-light: #121212;   
  --primary-color: #514B96;      
  --text-primary: #E9EDEF;      
  --text-secondary: #A1A1AA;     
  --border-color:rgb(0, 0, 0);        
}


body, html {
  background-color: var(--background-dark);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Helvetica, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: var(--text-secondary);
}

.login-container, .register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container form, .register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input,
.register-container input {
  margin: 10px;
  padding: 10px;
  width: 200px;
  background-color: var(--background-light);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
}

.login-container button,
.register-container button {
  padding: 10px 20px;
  background-color: var(--background-light);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
}

.friends-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  background-color: var(--background-light);
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-container input {
  flex: 1;
  padding: 5px;
  background-color: var(--background-dark);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
}

.search-container button {
  padding: 5px 10px;
  background-color: var(--background-light);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
}

.conversations-container {
  flex: 1;
  overflow-y: auto;
}

.conversations-container ul {
  list-style: none;
  padding: 0;
}

.conversations-container li {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: var(--background-light);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
}
